h1,
h2,
h3,
h4,
h5,
h6{
    font-family: '华文中宋',serif;
    font-weight: 900;
}
body{
    max-width: 960px;
    margin: 0 auto;
}
h1{
    text-align: center;
    background-color: #ccc;
    background-image: url(自存.png);
    background-repeat:no repeat ;
}
h2{
    background: linear-gradient(
        to bottom,
        #f6f8f9 0%,
        #e5ebee 50%,
        #d7dee3 51%,
        #f5f7f9 100%
    );
    line-height: 2;
    width: fit-content;
}
div p{
    font-size: 16px;
    line-height: 1.8;
    text-indent: ;
}
.normal{
    line-height: 3;
}
#home{
    color: brown;
}

.underwave{
    color: #666;
    text-decoration: wavy underline;
}
a:link{
    color:#000;
    text-decoration: none;
}

a:visited{
    color:#ccc;
}

a:hover{
    color: rebeccapurple;
    text-decoration: underline;
}

h2::after{
    content: '🤣';
    line-height: 2;
}

footer p{
    text-align: :center;
}
footer p a{
    color: #666;
    font-size: 0.8em;
}
/*字体设置*/
h2::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url("https://www.xbmu.edu.cn/images/title_tp1.png");
    background-repeat: no-repeat;
    left: -1em;
}